<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Обновление товара</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
            integrity="sha384-IZ1y9FlvTNWi8CBmliKnxlGJfZDr2txvz8WvgHQHGOwuIZgrHzWyoy9v+KaPFJoW"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Обновление товара</h1>
    <h4>Пользователь: <span th:text="${user.username}"></span></h4>
    <form th:action="@{/update}" th:object="${product}" method="POST">
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label for="name">Название:</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" />
        </div>
        <div class="form-group">
            <label for="description">Описание:</label>
            <textarea id="description" th:field="*{description}" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="price">Цена:</label>
            <input type="number" step="0.01" class="form-control" id="price" name="price" required>
        </div>
        <div class="form-group">
            <label for="productType">Тип:</label>
            <select id="productType" th:field="*{productType}" class="form-control">
                <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="seasons">Сезон:</label>
            <select id="seasons" th:field="*{seasons}" multiple class="form-control">
                <option th:each="season : ${seasons}" th:value="${season.id}" th:text="${season.name}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="/logout" class="btn btn-danger">Покинуть аккаунт</a>
    </form>
</div>
</body>
</html>