<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Список товаров</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNSbNqv"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h1>Список товаров</h1>
    <h4>Пользователь: <span th:text="${user.username}"></span></h4>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Стоимость</th>
            <th>Тип</th>
            <th>Сезон</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td>
                <a class="nav-link" th:href="@{/update/{id}(id=${product.id})}" th:text="${product.name}"></a>
            </td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.productType.name}"></td>
            <td>
                <ul>
                    <li th:each="season : ${product.seasons}" th:text="${season.name}"></li>
                </ul>
            </td>
            <td>
                <form method="POST" th:action="@{/delete/{id}(id=${product.id})}">
                    <button type="submit" class="btn btn-danger btn-sm ml-2">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="/create" class="btn btn-primary">Создать новый товар</a>
    <a href="/logout" class="btn btn-danger">Покинуть аккаунт</a>
</div>
</body>
</html>