<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <title>Регистрация</title>
    <style>
        .form-signin {
            max-width: 300px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="container py-3">
    <main class="form-signin mx-auto">
        <h1 class="h3 mb- fw-normal text-center">Регистрация</h1>
        <div th:if="${not #lists.isEmpty(errorMessage)}" class="alert alert-danger" role="alert">
            <span th:text="${errorMessage}"></span>
        </div>

        <form th:action="@{/reg}" method="post">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

            <div class="form-group">
                <label for="username" class="text-center">Имя </label>
                <input type="text" class="form-control" id="username" name="username"
                       placeholder="Введите имя пользователя" required>
            </div>

            <div class="form-group">
                <label for="password" class="text-center">Пароль</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Введите пароль"
                       required>
            </div>

            <hr class="my-1">
            <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
        </form>
    </main>
    <div class="container">
        <h3 class="mt-3">Произошла ошибка</h3>
        <p class="text-danger" th:text="${message}"></p>
    </div>
</div>
</body>
</html>